<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.larry.health.triage</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{PYTHON}}</string>
        <string>{{REPO}}/triage_agent.py</string>
        <string>--send</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>{{REPO}}/logs/triage_agent.log</string>
    <key>StandardErrorPath</key>
    <string>{{REPO}}/logs/triage_agent_err.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/bin:/bin</string>
        <key>HEALTH_DATA_DIR</key>
        <string>{{DATA}}</string>
        <key>HOME</key>
        <string>{{HOME}}</string>
    </dict>
</dict>
</plist>
