<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HEALTH_DATA_DIR</key>
		<string>{{DATA}}</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.larry.health.survivorship</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>{{REPO}}/scripts/run_survivorship_pipeline.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>{{DATA}}/logs/survivorship.err.log</string>
	<key>StandardOutPath</key>
	<string>{{DATA}}/logs/survivorship.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>30</integer>
		<key>Weekday</key>
		<integer>1</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>{{REPO}}</string>
</dict>
</plist>
